[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
	branch = release/1.15
[submodule "src/ros_gz"]
	path = src/ros_gz
	url = https://github.com/gazebosim/ros_gz.git
	branch = ros2
